body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main--dashboard-bg {
  width: 100%;
  padding-top:0px;
  
  background-size: cover;
  
 

  background-color: rgba(91, 88, 88, 0.241);
}



.dashbord-background{

  background-color: rgba(243, 240, 240, 0.241);
  padding-top: 0px;
  height: 30px;
  padding-top: 2px;
  margin-top: 10px;
  padding-left: 10px;
 
}

.dash-view {
  background-color: rgb(255, 255, 255);
  color: rgb(158, 14, 247);
  height: 24px;
  width: 100px;
  text-align: center;
  padding-top: 3px;
 
  margin-top: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
 

  color:rgb(125, 123, 123);
}
h4 {
  font-size: 22px;
}

@media screen and (max-width:768px) {
  h4 {
    font-size: 18px;
  }
  
}

.img-class {
  width: 40%;
 
}